<%= stylesheet_link_tag "app.css" %>
<p id="notice"><%= notice %></p>
<div class ="wrapper">
<%= link_to 'Редактировать', edit_user_path(@user), class: "btn btn-primary" %>
<%= link_to 'Назад', root_path, class: "btn btn-primary" %>
<div style=margin-top:30px;">
  <table class="table">
    <tr>
      <td>Имя пользователя</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Имэйл</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Номер</td>
      <td><%= @user.number %></td>
    </tr>
  </table>
 </div>
<div><% if @user.subscriptions.empty? == false %>

      <% @user.subscriptions.each do |f|%>
          <h3>Вы подписаны на:</h3>
          <div style=margin-top:10px;">
            <h3><%=Show.find(f.serial_id).additional_field  %></h3>

          <%= form_tag("/subscriptions", method: "post" ) do %>
              <%= hidden_field_tag('user_id', current_user.id) %>
              <%= hidden_field_tag('show_id', f.serial_id) %>
              Подписка на сезон<br>
              <%= check_box_tag(:season, "value", checked = (true if (current_user.subscriptions.find_by_serial_id(f.serial_id).options['season']) != nil))  %>
              </div>
              <div class="field">
              Подписка на серию<br>
                <%= check_box_tag(:episode, "value", checked = (true if (current_user.subscriptions.find_by_serial_id(f.serial_id).options['episode']) != nil) )%>
              </div>
              <div class="field">
              Подписка на 3 серии<br>
                <%= check_box_tag(:three_episode, "value", checked = (true if (current_user.subscriptions.find_by_serial_id(f.serial_id).options['three_episode']) != nil))  %>
              </div>
              <div>
                <%= submit_tag("подписаться", class: "btn btn-default") %>
              </div>
            <div>
          <% end %>
      <%end%>

<% else %>
      вы не подписаны ни на один сериал
  <%end%>
</div>
</div>
</div>