<%= stylesheet_link_tag "app.css" %>
<div>
<h1 class="text-center">Сериалы</h1>
<%= form_tag("/series", method: "post" ) do %>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div id="imaginary_container">
            <div class="input-group stylish-input-group">
              <%= text_field_tag(:name, "", id: 'lor', class: "form-control") %>
            <span class="input-group-addon">
              <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
<%end%>
</div>
<%if @current_films %>

    <div class="wrapper">
    <%if @current_films.empty? %>
        Nothing found :(
    <% else%>

        <table class="table">
        <% @current_films.each do |f| %>
            <tr>
              <td>
                <%= image_tag("http://image.tmdb.org/t/p/w500#{f.poster}", size: "370x520") %>
              </td>
              <td>
                <table >
                  <tr>
                      <div>Название</div>
                      <div><%= f.additional_field%></div>
                  </tr>
                  <tr>
                    <div>
                      <div>Количество сезонов</div>
                      <%= f.episode_count%>
                    </div>
                  </tr>
                  <tr>
                    <div>выход следующей серии серии</div>
                    <div><%= f.episode_date %></div>
                    <div>выход трех эпизодов</div>
                    <div><%= f.three_episode%></div>
                    <div>выход сезона целиком</div>
                    <div><%= f.season_date%></div>
                  </tr>
                    <%= form_tag("/subscriptions", method: "post", :class => "form-horizontal" ) do %>
                        <%= hidden_field_tag('user_id', current_user.id) %>
                        <%= hidden_field_tag('show_id', f.id) %>
                        <%= hidden_field_tag('place', "search") %>
                        <h3>Подписка</h3>
                        <div class="form-group">
                          <div class="field">

                            <% if current_user.subscriptions.find_by_serial_id(f.id)%>
                                Подписка на сезон<br>
                                <%= check_box_tag(:season, "value", checked = (true if (current_user.subscriptions.find_by_serial_id(f.id).options['season']) != nil))  %>
                                </div>
                                <div class="field">
                                  Подписка на серию<br>
                                  <%= check_box_tag(:episode, "value", checked = (true if (current_user.subscriptions.find_by_serial_id(f.id).options['episode']) != nil) )%>
                                </div>
                                <div class="field">
                                  Подписка на 3 серии<br>
                                  <%= check_box_tag(:three_episodes, "value", checked = (true if (current_user.subscriptions.find_by_serial_id(f.id).options['three_episodes']) != nil))  %>
                                </div>
                            <% else %>
                                Подписка на сезон<br>
                                <%= check_box_tag(:season)  %>
                                </div>
                                <div class="field">
                                  Подписка на серию<br>
                                  <%= check_box_tag(:episode)%>
                                </div>
                                <div class="field">
                                  Подписка на 3 серии<br>
                                  <%= check_box_tag(:three_episodes)  %>
                                </div>
                            <% end %>

                          <%= submit_tag("подписаться", class: "btn btn-default") %>
                        </div>
                    <%end%>
                  </tr>
                </table>
              </td>

            </tr>
        <%end%>
        </table>
    <%end %>
<%end %>
</div>

